<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <meta charset="utf-8" />
    <title>Simulor - Responsive Admin Dashboard Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta content="A fully featured admin theme which can be used to build CRM, CMS, etc." name="description" />
    <meta content="Coderthemes" name="author" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <!-- App favicon -->
    @*<link rel="shortcut icon" href=@Url.Content("/Content/assets/images/favicon.ico")>*@
    @*<link rel="shortcut icon" href=@Url.Content( "~/Content/assets/images/cyberspace_logo_H7R_icon.ico")>*@
    <link rel="shortcut icon" href=@Url.Content("~/Content/assets/images/cyberspace-icon.ico"  )>

    <!-- third party css -->
    <link href="~/Content/css/vendor/toastr.min.css" rel="stylesheet" type="text/css" />

    <link href="~/Content/css/vendor/responsive.bootstrap4.css" rel="stylesheet" />

    <link href="~/Content/css/vendor/buttons.bootstrap4.css" rel="stylesheet" />

    <link href="~/Content/css/vendor/select.bootstrap4.css" rel="stylesheet" />
    <!-- third party css end -->
    <!-- App css -->
    <link href="~/Content/css/icons.min.css" rel="stylesheet" />
    <link href="~/Content/css/app.min.css" rel="stylesheet" />
    <link href="~/Content/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/css/vendor/dataTables.bootstrap4.css" rel="stylesheet" />
</head>
<body>





    <div>
        @RenderBody();
    </div>


    <!-- Footer Start -->
    @*<footer class="footer">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-6">
                        CYB &copy; 2018 - CYB.com
                    </div>
                    <div class="col-md-6">
                        <div class="text-md-right footer-links d-none d-sm-block">
                            <a href="#">About Us</a>
                            <a href="#">Help</a>
                            <a href="#">Contact Us</a>
                        </div>
                    </div>
                </div>
            </div>
        </footer>*@
    <!-- end Footer -->
    <!-- ============================================================== -->
    <!-- End Page content -->
    <!-- ============================================================== -->
    <!-- END wrapper -->
    <!-- App js -->
    <script src="~/Content/js/vendor.min.js"></script>
    <script src="~/Content/js/app.min.js"></script>
    <!-- third party js -->
    <script src="~/Content/js/vendor/toastr.min.js"></script>
    <script src="~/Content/js/vendor/jquery.dataTables.js"></script>
    <script src="~/Content/js/vendor/jquery.dataTables.js"></script>
    <script src="~/Content/js/vendor/dataTables.bootstrap4.js"></script>
    <script src="~/Content/js/vendor/dataTables.responsive.min.js"></script>
    <script src="~/Content/js/vendor/responsive.bootstrap4.min.js"></script>
    <script src="~/Content/js/vendor/dataTables.buttons.min.js"></script>
    <script src="~/Content/js/vendor/buttons.bootstrap4.min.js"></script>
    <script src="~/Content/js/vendor/buttons.html5.min.js"></script>
    <script src="~/Content/js/vendor/buttons.flash.min.js"></script>
    <script src="~/Content/js/vendor/buttons.print.min.js"></script>
    <script src="~/Content/js/vendor/dataTables.keyTable.min.js"></script>
    <script src="~/Content/js/vendor/dataTables.select.min.js"></script>
    <!-- third party js ends -->
    <!-- demo app -->
    <script src="~/Content/js/pages/datatables.init.js"></script>
    <!-- end demo js-->
    <!-- Mirrored from coderthemes.com/simulor/vertical/tables-advanced.html by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 03 Aug 2018 11:09:21 GMT -->


</body>
</html>