<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>
        <h3>You cannot delete the location name here until you delete the subroot in Unit, followed by department</h3>
        <h4>Or</h4>
        <h5> Contact Your Admin</h5>

    </hgroup>
    <div>
        <p class="text-muted font-13 mb-4">
            <a class="btn btn-primary" style=" margin-bottom:10px" href="/Unit/Index"><i class="fa fa-plus"></i> Back TO Unit</a>


        </p>
    </div>
</body>
</html>
