@*
<link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="~/Content/stylesheet.css" rel="stylesheet" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>*@
<!------ Include the above in your HEAD tag ---------->
@{
    ViewBag.Title = "HomePage";
    Layout = "~/Views/Shared/_UserLayoutPage.cshtml";
}

@*<a href="~/Views/Shared/_Layout.cshtml">~/Views/Shared/_Layout.cshtml</a>*@
<link href="~/Content/StyleSheetIndex.css" rel="stylesheet" />
@*
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">*@
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<section class="error_section">
    <p class="error_section_subtitle">Welcome to </p>
    <h1 class="error_title">
        <p>EMS</p>
        EMS
        <h2>  Employee Management System</h2>

    </h1>

    <a href="/Home/Login" class="btn">Login To EMS</a>
    @*<a href="/Home/Register" class="btn">Register As New User</a>*@

</section>
