
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
   
</head>

<body>
    <hgroup>
        <h1>Error.</h1>
        <h2>An error occurred while processing your request.</h2>

    </hgroup>
    <div>
        <p class="text-muted font-13 mb-4">
            <a class="btn btn-primary" style=" margin-bottom:10px" href="/Inventory/Index"><i class="fa fa-plus"></i> Back TO Home</a>


        </p>
    </div>
</body>
</html>
